#HeavyMetL {
 display: block;
 margin-top: 10px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
 position: absolute;
 top: 0; left: 0; bottom: 0; right: 0;
 font-family: Calibri;
}

#HeavyMetL > #control-pane,
#HeavyMetL > #file-pane,
#HeavyMetL > #results-pane {
 box-shadow: 
     1px 0 0 0 #888 inset, 
     0 1px 0 0 #888 inset,
     -1px 0 0 0 #888 inset,
     0 -1px 0 0 #888 inset;
}

#HeavyMetL > #control-pane {
 position: absolute;
 left: 0; top: 0; right: 0;
 height: 30px;
 overflow: scroll;
}
#HeavyMetL > #control-pane > div {
 float: left;
 height: 30px;
 padding-right: 20px;
}

#HeavyMetL > #file-pane {
 position: absolute;
 left: 0; top: 35; bottom: 0;
 width: 295px;
}
#HeavyMetL > #file-pane > #file-tab-list {
 position: absolute;
 left: 0; top: 0; bottom: 0; right: 0;
 padding: 0px;
}
#HeavyMetL > #file-pane > #file-tab-list > a {
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 5px;
 height: 40px;
 margin-left: 5px;
 margin-top: 5px;
 margin-bottom: 0px;
 cursor: pointer;
 width: 275px;
 font-size: 10pt;
 overflow: hidden;
 word-wrap: break-word;
 display:block;
}

#HeavyMetL > #results-pane {
 position: absolute;
 top: 35; left: 300; bottom: 0; right:0;
}
#HeavyMetL > #results-pane > #results-table-container {
 overflow: scroll;
 position: absolute;
 top: 0; left: 0; bottom: 0; right: 0;
}
#HeavyMetL > #results-pane > #results-table-container > p {
 margin-top: 25%;
 text-align: center;
}
#HeavyMetL > #results-pane > #results-table-container > table {
 border-collapse: collapse;
 font-size: smaller;
}
#HeavyMetL > #results-pane > #results-table-container > table td {
 padding-left: 5px;
 cursor: pointer;
 border: 1px solid black;
 white-space: nowrap;
}
#HeavyMetL > #results-pane > #results-table-container > table > th > td {
 font-weight: bold;
}
#HeavyMetL > #results-pane > #results-table-container > table tr > td:nth-child(2) {
 max-width: 400px;
 overflow: hidden;
}

#HeavyMetL > #graphics-pane-overlay {
 position: absolute;
 top: 0; left: 0; bottom: 0; right: 0;
 visibility: hidden;
 background: white; 
}
#HeavyMetL > #graphics-pane-overlay > #graphics-canvas-container {
 position: absolute;
 top: 35; left: 0; bottom: 0; right: 0;
}

#HeavyMetL > #settings-pane-overlay {
 position: absolute;
 top: 0; left: 0; bottom: 0; right: 0;
 visibility: hidden;
 background: white; 
}
#HeavyMetL > #settings-pane {
 position: absolute;
 top: 50; left: 50; bottom: 50; right: 50;
}

#HeavyMetL > #progress-pane-overlay {
 position: absolute;
 top: 0; left: 0; bottom: 0; right: 0;
 visibility: hidden;
 background: white; 
 opacity: 0.9;
}
#HeavyMetL > #progress-pane-overlay > #progress-container {
 position: absolute;
 top: 40%; left: 25%; right: 25%;
 margin-top: -15px;
}
#HeavyMetL > #progress-pane-overlay > #progress-container > #progress-bar {
 height: 30px;
 width: 100%;
 text-align: center;
 line-height: 30px;
 background: lightgrey; 
}

#HeavyMetL > #control-pane > div > a,
#HeavyMetL > #graphics-pane-overlay > div > a,
#HeavyMetL > #settings-pane-overlay > div > a {
 background: darkgrey;
 padding-left: 5px;
 padding-right: 5px;
 height: 20px;
 margin-left: 5px;
 margin-top: 5px;
 margin-bottom: 5px;
 float: left;
 color: black;
 text-decoration: none;
 cursor: pointer;
 -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
}
#HeavyMetL > #control-pane > div > a.disabled {
 cursor: not-allowed;
 background: lightgrey;
 color: white;
}
#HeavyMetL > #file-pane > #file-tab-list > a {
 background: pink;
}
#HeavyMetL > #file-pane > #file-tab-list > a.disabled {
 opacity : 0.4;
}
#HeavyMetL > #file-pane > #file-tab-list > a.ready {
 background: lightgreen;
}
#HeavyMetL > #file-pane > #file-tab-list > a.has-rt {
 background: linear-gradient(90deg, lightgreen 90%, lightblue 1%, lightblue 9%) !important;
}
#HeavyMetL > #file-pane > #file-tab-list > a.selected,
#HeavyMetL > #results-pane > #results-table-container > table > tbody > tr.selected {
 box-shadow: 
    3px 0 0 0 blue inset, 
    0 3px 0 0 blue inset,
    -3px 0 0 0 blue inset, 
    0 -3px 0 0 blue inset;
}